{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CURRICULUM VITAE</title>
    <link rel="stylesheet" href="{% static '/styles/estilo.css' %}" type="text/css">
</head>
<body>
    <h1>Datos Personales</h1>
    <p>Nombre: Diego Aldair Sajche Avila</p>
    <p>Fecha de Nacimiento: 12 de febrero de 1999</p>
    <p>Nacionalidad: guatemalteco</p>
    <p>No. Identificacion: 3011869790101</p>
    <!-- Otros datos personales -->

    <h2>Datos de Contacto</h2>
    <p>Email: sajche98@gmail.com</p>
    <p>Teléfono: 35293068</p>
    <!-- Otros datos de contacto -->

    <h2>Tabla de Nivel de Estudios</h2>
    <table>
        <tr>
            <th>Grado</th>
            <th>Institución</th>
            <th>Años Estudiados</th>
        </tr>
        <tr>
            <td>Bachillerato</td>
            <td>Colegio para Varones San Sebastian</td>
            <td>2012 - 2016</td>
        </tr>
        <tr>
            <td>Universidad</td>
            <td>Universidad San Carlos de Guatemala</td>
            <td>2019 - Actualidad</td>
        </tr>
        <!-- Otros niveles de estudio -->
    </table>

    <h2>Tabla de Habilidades</h2>
    <table>
        <tr>
            <th>Habilidad</th>
            <th>Nivel</th>
        </tr>
        <tr>
            <td>Programación</td>
            <td>Medio</td>
        </tr>
        <tr>
            <td>Ingles</td>
            <td>Bajo</td>
        </tr>
        <tr>
            <td>Trabajo en equipo</td>
            <td>Alto</td>
        </tr>
        <tr>
            <td>Creatividad</td>
            <td>Medio</td>
        </tr>
        <tr>
            <td>Liderazgo</td>
            <td>Medio</td>
        </tr>
        <!-- Otras habilidades -->
    </table>

    <img src="static/foto.jpg" alt="Foto Profesional">

    <h2>Lista de Intereses y Hobbies</h2>
    <ul>
        <li>Me gusta la programación</li>
        <li>Me gusta ver y jugar fútbol</li>
        <li>Mi equipo favorito es el Real Madrid</li>
        <li>Me gusta salir con amigos</li>
        <li>Me gusta la musica rap</li>
        <li>Mi lenguaje favorito para programar es Python</li>
        <!-- Otros intereses y hobbies -->
    </ul>
</body>
</html>